<main>
    <div>
        <h2>Projects</h2>
        <table>
            <tr>
                <th>Project Name</th>
                <th>Volunteers Assigned</th>
                <th>Volunteers Needed</th>
            </tr>
            <% if @projects.any? %>
            <% @projects.each do |project| %>
            <tr>
                <td>
                    <a class='row-click' href='/projects/<%= project.id %>'>
                        <%= project.title %>
                    </a>
                </td>
                <td>
                    <a class='row-click' href='/projects/<%= project.id %>'>
                        <%= project.vols_assigned %>
                    </a>
                </td>
                <td>
                    <a class='row-click' href='/projects/<%= project.id %>'>
                        <%= project.vols_needed %>
                    </a>
                </td>
            </tr>
            <% end %>
            <% end %>
            <tr>
            </tr>
        </table>
        <form action='/' method='post'>
            <label>
                New Project:
                <input name='title' type='text' placeholder='e.g. Teaching Kids to Code' required>
            </label>
            <label>
                Volunteers Needed:
                <input name='vols_needed' type='number' placeholder='e.g. 5'>
            </label>
            <button class='btn' type='submit'>Add Project</button>
        </form>
    </div>
</main>
