<main>
    <div>
        <h2>Projects</h2>
        <table>
            <tr>
                <th>Project Name</th>
                <th>Volunteers Assigned</th>
                <th>Volunteers Needed</th>
            </tr>
            <% if @projects.any? %>
            <% @projects.each do |project| %>
            <tr>
                <td>
                    <a class='row-click' href='/projects/<%= project.id %>'>
                        <%= project.title %>
                    </a>
                </td>
                <td>
                    <a class='row-click' href='/projects/<%= project.id %>'>
                        <%= project.title %>
                    </a>
                </td>
                <td>
                    <a class='row-click' href='/projects/<%= project.id %>'>
                        <%= project.title %>
                    </a>
                </td>
            </tr>
            <% end %>
            <% end %>
        </table>
    </div>
</main>
